
div {
    border: 1px solid black;
}
.App{
    left:0;
    top:0;
    right:0;
    bottom:0;
    position: fixed;
    display: flex;
    flex-direction: column;
}

.top{
    display: flex;
    justify-content: space-between;

}
.mid{
    flex: 1;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.bot{

}
.left{

}
.right{

}
.box{
    text-decoration: none;
}
.di1{
    border: 1px solid black;
    text-decoration: none;

}
.di2{
    text-decoration: none;
    border: 1px solid black;
}
.di3{
    text-decoration: none;
    border: 1px solid black;
}
.floot{
    position: relative;
    display: block;
    height: 27px;
    width: 60px;
    margin: 0 auto 13px;
    background: #fff url(//yastatic.net/s3/home-static/_/s/u/EmT7m7r1fLfN1qRy-imBYNufg.svg) no-repeat 0 0;
    overflow: hidden;
}