.body{
    padding: 0;
    margin: 0;
    max-height: 740px;
    max-width: 1532px;

}
.App{
    border:2px solid black;
    max-width: 1532px;
    margin: 0 auto;
    height:740px;
    max-height: 740px;
    display: inline-block;

}


.top{
    background-color: blueviolet;
    line-height:40px;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    display: inline-block;
    width: 1532px;
}
.mid{
    background-color: darkgrey;
    line-height:680px;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    position: relative;
    left:0;
    top:0;
    right:0;
    bottom:0;
    display: inline-block;
    width: 1532px;
}
.bot{
    background-color: darkturquoise;
    line-height:20px;
    font-size: 18px;
    font-weight: 700;
    text-align:center;
    position:relative;
    display: inline-block;
    width: 1532px;
}


